<footer>  
    <!-- 14 apr 2024 ap1z1 -->
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    
        <div class="f-info-brand">
            &copy; AlphaOne Pvt. Ltd.
            <a href="/privacy"> Privacy </a>
            <a href="/terms"> Terms </a>
        </div>

        <div class="f-info-links">

        </div>

    </div>

</footer>